<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/css-circle/css/circle.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>

<section>
    <header class="header">
        <nav class="nav">
            <div>
                <a href="#"><img class="logo" src="img/LOGO.svg" alt="logo"></a>
                <h3 class="profile">Akmal Muhammad</h3>
            </div>
        </nav>
        <div class="header-content">
            <div>
                <h2>Selamat datang, Akmal Muhammad</h2>
                <p>Kelola barang menjadi lebih mudah dan efektif dengan <strong>gudang sortir</strong></p>
            </div>
        </div>
    </header>
</section>

<section>
    <div class="button">
        <a href="kategori.html">
            <div>
                <img src="img/kategori.png" alt="kategori">
                <p>Tambah kategori</p>
            </div>
        </a>
        <a href="">
            <div>
                <img src="img/barang.png" alt="barang">
                <p>Tambah barang</p>
            </div>
        </a>
        <a href="">
            <div>
                <img src="img/transaksi.png" alt="Transakis">
                <p>Transaksi</p>
            </div>
        </a>
    </div>
</section>

<section>
    <div class="static-card">
        <div class="card-jumlah">
            <div class="wrap-title">
                <p class="title">Jumlah Barang Masuk-Keluar</p>
            </div>
            <div class="wrap">
                <div class="growth c100 p83 center">
                    <span>
                        <img src="img/item.png" alt="item">
                    </span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="wrap-content">
                    <div class="content bm">
                        <div class="kotak"></div>
                        <p>Barang Masuk: 10</p>
                    </div>
                    <div class="content bk">
                        <div class="kotak"></div>
                        <p>Barang Keluar: 2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-jumlah">
            <div class="wrap-title">
                <p class="title">Barang Masuk-Keluar Terakhir</p>
            </div>
            <div class="wrap">
                <div class="growth c100 p100 center">
                    <span>
                        <img src="img/time.png" alt="item">
                    </span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="wrap-content">
                    <div class="content bm">
                        <p>Barang Masuk: Gelas</p>
                    </div>
                    <div class="content bk">
                        <p>Barang Keluar: Jambu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>