<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/form-transaksi.css">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Edit Barang</title>
</head>

<body>

<section>
    <header class="header">
        <nav class="nav">
            <div>
                <a href="#"><img class="logo" src="img/LOGO.svg" alt="logo"></a>
                <h3 class="profile">Akmal Muhammad</h3>
            </div>
        </nav>
    </header>
</section>

<section>
    <div class="wrap">
        <div class="form">
            <h1>Barang Masuk</h1>
            <p>Silahkan isi form dibawah untuk melakukan transaksi barang.</p>
            <form action="" class="pure-form">
                <fieldset>
                    <div class="first">
                        <label for="">ID Transaksi</label>
                        <input type="text" placeholder="000001" readonly>
                    </div>
                    <div class="first first-second">
                        <div class="second">
                            <label for="">Tanggal</label>
                            <input type="date" placeholder="tanggal">
                        </div>
                        <div class="second">
                            <label for="">Barang</label>
                            <select name="" id="">
                                <option value="">awawawasasdsadsadasdasdsadasdasd</option>
                                <option value="">awawaw</option>
                            </select>
                        </div>
                    </div>
                    <div class="first first-second">
                        <div class="second">
                            <label for="">Jumlah</label>
                            <input type="number" placeholder="Jumlah" value="0" min="1">
                        </div>
                        <div class="second">
                            <label for="">Deskripsi</label>
                            <input type="text" placeholder="(opsional)">
                        </div>
                    </div>
                    <div class="batal">
                        <a href="/dashboard/item">Batal</a>
                        <button type="submit">Tambah</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="image">
            <div class="picture">
                <img src="img/Oreti.png" alt="">
            </div>
        </div>
    </div>
</section>

</body>
</html>