<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./styles/index.css"/>
    <script src="https://kit.fontawesome.com/4417c3b731.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>gudangsortir</title>
</head>
<body>
<div class="banner">
    <div class="navbar">
        <img src="./img/Logo GS.png" alt="" class="logo"/>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#feature">Feature</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>
            Kelola stok barang menjadi<br/>
            lebih <strong>efektif dan efisen!</strong>
        </h1>
        <p>gudangsortir hadir untuk anda yang memiliki bisnis jual beli agar mudah<br/>mengelola ketersediaan produk
            anda dan meminimalkan risiko overstock atau understock.</p>
        <div>
            <button type="button"><a href="./supin.html sign-up-form"></a><span></span>Daftar</button>
            <button type="button"><span></span>Masuk</button>
        </div>
    </div>
</div>
<section class="about" id="about">
    <div class="main">
        <img src="./img/main.jpg" alt=""/>
        <div class="about-text">
            <h1>About us</h1>
            <h5>Gudangsortir</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolores voluptatem tempora quasi
                quibusdam harum architecto nisi similique, sapiente ipsum! Veniam sapiente rerum accusamus quod
                doloremque numquam amet harum
                eligendi animi quisquam, libero eveniet voluptatem consectetur qui maxime a in iste consequuntur nam.
                Possimus minus assumenda explicabo, ducimus quasi consequuntur sed omnis. Nostrum iure quaerat voluptas
                illum unde blanditiis
                veniam eveniet id est harum?
            </p>
            <button type="button">Hubungi Kami</button>
        </div>
    </div>
</section>
<section class="feature" id="feature">
    <div class="row">
        <div class="col-md-12">
            <h1>Blog Layout</h1>
            <div class="seperator"></div>
            <p>Blocks with hover effects</p>
        </div>
    </div>
</section>

<!-- Start Blog Layout -->
<div class="container">
    <div class="row">
        <div class="col-md-6 item">
            <div class="item-in">
                <h4>Free to use</h4>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur,
                    voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos
                    qui debitis laboriosam velit quis autem!</p>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="item-in">
                <h4>Mobile</h4>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur,
                    voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos
                    qui debitis laboriosam velit quis autem!</p>
            </div>
        </div>
    </div>
    </section>
</body>
</html>
