<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/profile.css">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Profil2</title>
</head>
<body>
<section>
    <header class="header">
        <nav class="nav">
            <div>
                <a href="#"><img class="logo" src="img/LOGO.svg" alt="logo"></a>
<!--                <h3 class="profile">Akmal Muhammad</h3>-->
            </div>
        </nav>
        <div class="header-content">
            <div>
                <h2>Profil User</h2>
                <p>ubah profil anda</p>
                <a href="dashboard.html">
                    <div class="kembali">
                        <p>Dashboard</p>
                        <img src="img/panah.png" alt="kembali">
                    </div>
                </a>
            </div>
        </div>
    </header>
</section>

<section>
    <div class="button">
        <a href="">
            <div>
                <img src="img/password.png" alt="barang">
                <p>Ganti password</p>
            </div>
        </a>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content">
            <form action="">
                <fieldset>
                    <div class="separator">
                        <label></label>
                        <p>message</p>
                    </div>
                    <div class="separator">
                        <label for="nama">Nama</label>
                        <input type="text" id="nama" placeholder="Nama anda" value="Akmal Muhammad" />
                    </div>
                    <div class="separator">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email anda" value="akmal@gmail.com" />
                    </div>
                    <div class="separator">
                        <label for="email"></label>
                        <button type="submit" class="pure-button">Simpan</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="message-wrap">
            <div class="message">
                <p>message</p>
            </div>
            <div class="error">
                <p>error</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>