<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" rel="stylesheet">
    <link rel="stylesheet" href="styles/transaksi.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Transaksi</title>
</head>
<body>
<section>
    <header class="header">
        <nav class="nav">
            <div>
                <a href="#"><img class="logo" src="img/LOGO.svg" alt="logo"></a>
                <h3 class="profile">Akmal Muhammad</h3>
            </div>
        </nav>
        <div class="header-content">
            <div>
                <h2>Tambah Barang</h2>
                <p>Tambah barang sesuia yang anda inginkan</p>
                <a href="dashboard.html">
                    <div class="kembali">
                        <p>Dashboard</p>
                        <img src="img/panah.png" alt="kembali">
                    </div>
                </a>
            </div>
        </div>
    </header>
</section>

<section>
    <div class="button">
        <a href="">
            <div>
                <img src="img/barang-masuk.png" alt="masuk">
                <p>Barang Masuk</p>
            </div>
        </a>
        <a href="">
            <div>
                <img src="img/keluar.png" alt="keluar">
                <p>Barang Keluar</p>
            </div>
        </a>
    </div>
</section>

<section>
    <div class="content">
        <div class="filtering">
            <form class="pure-form">
                <fieldset>
                    <div>
                        <input class="pure-input-rounded" type="text" name="search" id="search" placeholder="cari..."
                               autofocus autocomplete="">
                        <button type="submit" class="pure-button">cari</button>
                    </div>
                </fieldset>
            </form>
            <form class="pure-form">
                <fieldset>
                    <div class="select">
                        <select name="" id="joko">
                            <option value="">asdnjansdnajdnjajand</option>
                            <option value="">joko</option>
                        </select>
                        <select name="" id="mawis">
                            <option value="kojo">asdasdasdasdadass</option>
                            <option value="kojo">asdasd</option>
                        </select>
                        <select name="" id="paripurna">
                            <option value="aw">adasdasdasaadasdsda</option>
                            <option value="aw">prikitiw</option>
                        </select>
                        <select name="" id="sitogemblung">
                            <option value="aw">adsadasddasdasdasda</option>
                            <option value="aw">prikitiw</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th colspan="7  " class="title">Daftar Barang</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="first">ID Transaksi</td>
                <td class="first">Jenis Transaksi</td>
                <td class="first">Tanggal Transaksi</td>
                <td class="first">Jumlah</td>
                <td class="first">ID Barang</td>
                <td class="first">Nama Barang</td>
                <td class="first">Deskripsi</td>
            </tr>
            <tr>
                <td>Toyota</td>
                <td>Camry</td>
                <td>Camry</td>
                <td>Camry</td>
                <td>2012</td>
                <td>2012</td>
                <td>2012</td>
            </tr>
            <tr>
                <td>Hyundai</td>
                <td>Elantra</td>
                <td>Elantra</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
            </tr>
            <tr>
                <td>Hyundai</td>
                <td>Elantra</td>
                <td>Elantra</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
            </tr>
            <tr>
                <td>Hyundai</td>
                <td>Elantra</td>
                <td>Elantra</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
            </tr>
            <tr>
                <td>Hyundai</td>
                <td>Elantra</td>
                <td>Elantra</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
                <td>2010</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section>
    <div class="pagination">
        <div class="previus">
            <a>previus</a>
        </div>
        <div class="page">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">3</a>
            <a href="">3</a>
        </div>
        <div class="next">
            <a>next</a>
        </div>
    </div>
</section>

</body>
</html>