@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 340px;
    background-color: #043873;
}

.header .nav {
    height: 80px;
    width: 100%;
    padding: 10px 10px 0;
    border-bottom: solid 1px #ccc;
}

.header .nav div {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header .nav div a img{
    height: 65px;
}

.header .nav div .profile a {
    color: #D9d9d9;
    font-weight: normal;
    text-decoration: none;
}

.header .header-content {
    color: #efefef;
}

.header .header-content div {
    margin-top: 65px;
    margin-left: 75px;
}

.header .header-content div h2 {
    font-size: 33px;
    letter-spacing: 1px;
}

.header .header-content div p {
    font-size: 16px;
}

.header .header-content .kembali {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 176px;
    height: 52px;
    background: #4F9CF9;
    border: 1px solid #000000;
    box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    float: right;
    margin-right: 80px;
    color: #fff;
    transition: 250ms;
}

.header .header-content .kembali:hover {
    /*background: rgba(79, 156, 249, 0.35);*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    transition: 250ms;
}

.header .header-content .kembali p {
    /*margin-right: 10px;*/
    font-size: 22px;
}

.button {
    width: 40%;
    display: flex;
    gap: 60px;
    margin-left: 75px;
    margin-top: -77px;
}

.button a {
    text-decoration: none;
    color: #000;
}

.button a div {
    border: solid 2px #ccc;
    width: 235px;
    height: 153px;
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.button a div img {
    height: 80px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.wrap {
    width: 55%;
    max-width: 100%;
    /*margin: -77px auto auto;*/
    background-color: #fff;
    border-radius: 15px;
}

.wrap .content {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    /*border: solid 2px #ccc;*/
    /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 15px;
    margin-left: 75px;
    margin-top: 20px;
}

.wrap .content form fieldset {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: none;
}

.wrap .content form fieldset .separator {
    display: flex !important;
    gap: 180px;
    align-items: center;
    margin-left: 30px;
}

.wrap .content form fieldset .separator label {
    width: 50px;
    max-width: 50px;
}

.wrap .content form fieldset .separator input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.wrap .content form fieldset .separator button {
    background-color: #4F9CF9;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.error {
    color: red;
}
